   h1 {
     text-align: center;
     color: white;
     margin-bottom: 10px;
     font-family: 'Alfa Slab One', cursive;
     font-weight: lighter;
     padding: 80px;
     font-size: 50px;
  }
   p {
     text-indent: 20px;
     margin-left: 20px;
   }
   li a {
     width: 100em;
     height: 100em;
     background-color: yellow;
     color: green;
     padding: 10px 16px;
     text-decoration: none;
     text-align: center;
     list-style-type: none;
     border: 1px solid #555;
   }
   li a:hover {
     background-color: white;
     color: grey;
     transition-timing-function: ease;
     transition-duration: 1s;
   }
   .active {
     background-color: green;
     color: white;
   }
   .navbar {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
     list-style-type: none;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left: 0;
     padding-left: 0;
     overflow: hidden;
     background-color: green;
   }
  body {
    background-color: green;
    text-decoration-color: white;
    border-style: dashed;
    border-color: white;
  }
  header {
    border-style: solid;
  }
  .background-image {
    background-image: url("https://golfadvisor.brightspotcdn.com/dims4/default/03ae15a/2147483647/strip/true/crop/1400x735+0+0/resize/2743x1440!/quality/85/?url=https%3A%2F%2Fphotos-us.bazaarvoice.com%2Fphoto%2F2%2FcGhvdG86Z29sZm5vdw%2F363c65f4-67f4-59c6-854f-0bcc367ff600");
    background-position: center;
    height: 300px;
    background-repeat: no-repeat;
  }
  .margin {
    margin-left: 20px;
  }
  .image-border{
    border: 1px solid white;
    float: left;
    margin: 0px;
    padding: 0px;
    transition-timing-function: ease;
    transition-delay: 1s;
  }
  .img-resize {
    width:400px;
    height:400px;
  }
  .flexbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .caption-size {
    width: 250px;
  }
  p:first-child:first-letter {
    color: yellow;
    /* float: left; */
    font-family: Georgia;
    font-size: 33px;
    line-height: 30px;
    padding-top: 4px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 50px;
  }
  ol li:nth-child(even) {
    color: yellow;
  }
  ol li:nth-child(odd) {
    color: lightgrey;
  }
  fieldset, form, select, button, input {
    margin-top: 20px;
    font-family: sans-serif, helvetica;
    font-size: 20px;
    box-sizing: border-box;
    margin: 1rem;
  }
  form {
    color: #FFFFFF;
  }
  input {
    border-radius: 15px;
  }
  input[type=email]:focus {
    background-color: yellow;
    outline: inherit;
  }
  input[type=submit]:hover {
    background-color: yellow;
    }
  fieldset {
    border-color: yellow;
  }
  input[type=radio] {
    cursor: pointer;
  }
  input[type=checkbox] {
    cursor: pointer;
  }
